{{> header}}
<div class="body-artist">
  <div class="row py-5 px-4">
    <div class="col-md-5 mx-auto"> <!-- Profile widget -->
      <div class="bg-white shadow rounded overflow-hidden">
        <div class="px-4 pt-0 pb-4 cover">
          <div class="media align-items-end profile-head">
            <div class="profile mr-3">
              <div class="artist-group-header">
                <div class="img-name-artist-group-profile">
                  <img src="{{#checkImage group.image}}{{../group.image}}{{else}} https://pbs.twimg.com/media/D0u1DoOX4AMg_d_.png {{/checkImage}}" alt="..." width="130" class="rounded mb-2 img-thumbnail">
                  <h4 class="media-body text-white artist-group-name-profile">{{group.name}}</h4>
                </div>
                <div class="edit-buttons">
                  {{#checkOwner group.artistOwners.0.artistId.id currentArtist.id}}
                    {{#if ../group.artistOwners.0.role}}
                    <a href="/groups/{{../../group.id}}/edit" class="btn btn-sm btn-block btn-outline-warning mb-2"
                      style="color: white !important;">Edit profile</a>
                    {{/if}}
                  {{/checkOwner}}
                  {{#checkOwner group.artistOwners.0.artistId.id currentArtist.id}}
                  <a href="/images/{{../group.id}}/new" class="btn btn-sm btn-block btn-outline-warning mb-2"
                    style="color: white !important;">Add Photo</a>
                  {{/checkOwner}}
                  {{#checkOwner group.artistOwners.0.artistId.id currentArtist.id}}
                    {{#if ../group.artistOwners.0.role}}
                    <form action="/groups/{{../../group.id}}/delete" method="post">
                      <button type="submit" class="btn btn-danger btn-sm">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                          class="bi bi-trash-fill" viewBox="0 0 16 16">
                          <path
                            d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0z" />
                        </svg>
                        Delete group
                      </button>
                    </form>
                    {{/if}}
                  {{/checkOwner}}
                </div>
              </div>
              <div class="socials-artist-group-profile">
                {{#checkSocial group.socialMedia.facebook}}
                <a href="{{group.socialMedia.facebook}}" target="_blank" style="color: transparent;">
                  <i class="fa fa-facebook-official social-icon" aria-hidden="true"></i>
                </a>
                {{/checkSocial}}
                {{#checkSocial group.socialMedia.instagram}}
                <a href="{{group.socialMedia.instagram}}" target="_blank" style="color: transparent;">
                  <i class="fa fa-instagram social-icon" aria-hidden="true"></i>
                </a>
                {{/checkSocial}}
                {{#checkSocial group.socialMedia.email}}
                <a href="{{group.socialMedia.email}}" target="_blank" style="color: transparent;">
                  <i class="fa fa-envelope-o social-icon" aria-hidden="true"></i>
                </a>
                {{/checkSocial}}
                {{#checkSocial group.socialMedia.twitter}}
                <a href="{{group.socialMedia.twitter}}" target="_blank" style="color: transparent;">
                  <i class="fa fa-twitter-square social-icon" aria-hidden="true"></i>
                </a>
                {{/checkSocial}}
                {{#checkSocial group.socialMedia.spotify}}
                <a href="{{../group.socialMedia.spotify}}" target="_blank" style="color: transparent;">
                  <i class="fa fa-spotify social-icon" aria-hidden="true"></i>
                </a>
                {{/checkSocial}}
              </div>
            </div>
          </div>
        </div>
        <div class="bg-light p-4">
          <ul class="list-inline mb-0 artist-group-bar-detail">
            <li class="list-inline-item">
              <span
                class="badge {{#checkStatus group.forActing}} text-bg-warning {{else}} text-bg-danger {{/checkStatus}}">
                {{#checkStatus group.forActing}} Available {{else}} Not Available {{/checkStatus}}
              </span>
            </li>
            <li class="list-inline-item photos-count">
              <h5 class="font-weight-bold mb-0 d-block">{{group.images.length}}</h5><small class="text-muted"> <i
                  class="fas mr-1"></i>Photos</small>
            </li>
          </ul>
        </div>
        <div class="px-4 py-3">
          <h5 class="mb-0">Members</h5>
          <div class="p-4 rounded shadow-sm bg-light">
            {{#each group.artists as |artist| }}
            <a style="text-decoration: none; color:black" href="/artists/{{artist.artistId.id}}">
              <p class="font-italic mb-0">
                {{#checkOwner ../group.artistOwners.0.artistId.id artist.artistId.id}}
                  You*
                {{else}}
                  {{artist.artistId.name}}
                {{/checkOwner}}
              </p>
            </a>
            {{/each}}
          </div>
        </div>
        {{#if group.description.length}}
        <div class="px-4 py-3">
          <h5 class="mb-0">Description</h5>
          <div class="p-4 rounded shadow-sm bg-light">
            <p class="font-italic mb-0">{{group.description}}</p>
          </div>
        </div>
        {{/if}}
        {{#if group.topTracks.length}}
        <div class="px-4 py-3">
          <h5 class="mb-3">My Songs</h5>
          <ul>
            {{#each group.topTracks as |track|}}
            <li class="track-audio">
              <p><i class="fa fa-spotify"></i>{{track.name}}</p>
              <p><audio controls src="{{track.url}}"></audio></p>
            </li>
            {{/each}}
          </ul>
        </div>
        {{/if}}
        {{#if group.images.length }}
        <div class="py-4 px-4">
          <div class="d-flex align-items-center justify-content-between mb-3">
            <h5 class="mb-0">Recent photos</h5>
            {{!-- <a href="#" class="btn btn-link text-muted">Show all</a> --}}
            <!-- Button trigger modal -->
            <a href="#" data-bs-toggle="modal" data-bs-target="#exampleModalFullscreen">Show All</a>
            <!-- Modal -->
            <div class="modal fade" id="exampleModalFullscreen" tabindex="-1"
              aria-labelledby="exampleModalFullscreenLabel" style="display: none;" aria-hidden="true">
              <div class="modal-dialog modal-fullscreen">
                <div class="modal-content">
                  <div class="modal-header">
                    <h1 class="modal-title fs-4" id="exampleModalFullscreenLabel">Full screen modal</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                    {{!-- Gallery --}}
                    <div class="row">
                      {{#each group.images as |image|}}
                      <div class="col-4 d-flex justify-content-center mb-3">
                        <img src="{{image.url}}" alt="" srcset="" style="  height: 200px; width: auto;">
                      </div>
                      {{/each}}
                    </div>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div id="carouselExampleIndicators" class="carousel slide">
              <div class="carousel-indicators">
                {{#each top3Images as |image|}}
                  <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="{{image.index}}" class="{{#if image.index}}{{else}}active{{/if}}" aria-current="true" aria-label="Slide 1"></button>
                {{/each}}
              </div> 
              <div class="carousel-inner">
              {{#each top3Images as |image|}}
                <div class="carousel-item {{#if image.index}}{{else}}active{{/if}}">
                  <img src="{{image.url}}" class="d-block w-100" alt="...">
                </div>
              {{/each}}
              </div>
              <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
              </button>
              <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
              </button>
            </div>  

            <!--{{#each group.images as |image|}}
            <div class="col-lg-6 mb-2 pr-lg-1"><img src="{{image.url}}" alt="" class="img-fluid rounded shadow-sm">
            </div>
            {{#checkOwner ../group.artistOwners.0.artistId.id ../currentArtist.id}}
            <form action="/images/groups/{{image.id}}/delete" method="post">
              <button type="submit" class="btn btn-danger btn-sm">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                  class="bi bi-trash-fill" viewBox="0 0 16 16">
                  <path
                    d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0z" />
                </svg>
                Delete
              </button>
            </form>
            {{/checkOwner}}
            {{/each}}-->
          </div>
        </div>
        {{/if}}
      </div>
    </div>
  </div>
</div>

<script src="/scripts/audio.script.js"></script>