{{> header}}
<div class="group-edit-body">
  {{#if errors}}
  <div class="alert alert-danger">
    review form data
  </div>
  {{/if}}

  <form action="{{#if currentGroup}} /groups/{{currentGroup.id}} {{else}} /groups/new{{/if}}" method="post"
    enctype="multipart/form-data">
    <div class="mb-3">
      <label for="name" class="form-label">Name</label>
      <input name="name" value="{{currentGroup.name}}" type="text"
        class="form-control {{#if errors.name}}is-invalid{{/if}}" id="name" />
      {{#if errors.name}}
      <div class="invalid-feedback">
        {{errors.name}}
      </div>
      {{/if}}
    </div>
    <div class="mb-3">
      <label for="email" class="form-label">Email address</label>
      <input name="email" value="{{currentGroup.email}}" type="email"
        class="form-control {{#if errors.email}}is-invalid{{/if}}" id="email" />
      {{#if errors.email}}
      <div class="invalid-feedback">
        {{errors.email}}
      </div>
      {{/if}}
    </div>
    <div class="mb-3">
      <label for="descriptionTextarea">Description</label>
      <textarea name="description" class="form-control" placeholder=""
        id="descriptionTextarea">{{currentGroup.description}}</textarea>
    </div>
    <hr>
    <div class="mb-3">
      <div class="btn-group-vertical" role="group" aria-label="Vertical button group">
        {{#each candidates as |candidate|}}
        <input type="checkbox" name="candidate" value="{{candidate.id}}" class="form-control btn-check" id="{{candidate.email}}" autocomplete="off">
        <label class="btn btn-outline-primary" for="{{candidate.email}}">{{candidate.email}}</label>
        {{/each}}
      </div>
      {{!-- <label for="candidates">Candidates</label>
      <select id="candidates" name="candidates" class="form-select" multiple>
        {{#each candidates as |candidate|}}
        <option value="{{candidate.email}}">{{candidate.email}}</option>
        <option value="{{candidate.email}}_1">{{candidate.email}}</option>
        {{/each}}
      </select> --}}
    </div>
    <hr>
    <div class="input-group mb-3">
      <span class="input-group-text" id="basic-addon1">
        <i class="fa fa-facebook-official social-icon fa-fw" aria-hidden="true"></i>
      </span>
      <input type="text" name="socialMedia[facebook]" value="{{currentGroup.socialMedia.facebook}}"
        class="form-control">
    </div>
    <div class="input-group mb-3">
      <span class="input-group-text" id="basic-addon1">
        <i class="fa fa-instagram social-icon fa-fw" aria-hidden="true"></i>
      </span>
      <input type="text" name="socialMedia[instagram]" value="{{currentGroup.socialMedia.instagram}}"
        class="form-control">
    </div>
    <div class="input-group mb-3">
      <span class="input-group-text" id="basic-addon1">
        <i class="fa fa-envelope-o social-icon fa-fw" aria-hidden="true"></i>
      </span>
      <input type="text" name="socialMedia[email]" value="{{currentGroup.socialMedia.email}}" class="form-control">
    </div>
    <div class="input-group mb-3">
      <span class="input-group-text" id="basic-addon1">
        <i class="fa fa-twitter-square social-icon fa-fw" aria-hidden="true"></i>
      </span>
      <input type="text" name="socialMedia[twitter]" value="{{currentGroup.socialMedia.twitter}}" class="form-control">
    </div>
    <div class="input-group mb-3">
      <span class="input-group-text" id="basic-addon1">
        <i class="fa fa-spotify social-icon fa-fw" aria-hidden="true"></i>
      </span>
      <input type="text" name="socialMedia[spotify]" value="{{currentGroup.socialMedia.spotify}}" class="form-control">
    </div>
    <hr>
    <ul class="list-group list-group-horizontal mb-3">
      <li class="list-group-item form-checkbox ">
        <input class="form-check-input me-1" type="checkbox" name="forActing" value="true" id="forActing" {{#checkStatus
          currentGroup.forActing}}checked{{/checkStatus}}>
        <label class="form-check-label stretched-link" for="forActing">Available</label>
      </li>
    </ul>
    <hr>
    <div class="input-group mb-3">
      <label class="input-group-text btn btn-warning" for="image">Upload Image</label>
      <input type="file" class="form-control" name="image" id="image">
    </div>
    {{!-- <div class="mb-3">
      <label for="password">Password</label>
      <input name="password" value="{{currentGroup.password}}" type="password"
        class="form-control {{#if errors.password}}is-invalid{{/if}}" id="password" />
      {{#if errors.password}}
      <div class="invalid-feedback">
        {{errors.password}}
      </div>
      {{/if}}
    </div> --}}
    <button type="submit" class="btn btn-primary mt-3">Update</button>
  </form>
</div>