{{> header}}
<div class="login-body">  
  {{#if errors}}
    <div class="alert alert-danger mt-2">
      review form data
    </div>
  {{/if}}

  {{#if errorPasswordOrEmail}}
    <div class="alert alert-danger mt-2">
      {{errorPasswordOrEmail}}
    </div>
  {{/if}}

  <img src="https://pbs.twimg.com/media/D0u1DoOX4AMg_d_.png" class="music-contact-image-login" alt="music-contact">
  <form action="/login" method="post">
    <div class="mb-1">
      <label for="email" class="form-label">Email address</label>
      <input name="email" value="{{newArtist.email}}" type="email" class="form-control {{#if errors.email}}is-invalid{{/if}} {{#if errorPasswordOrEmail}}is-invalid{{/if}}" id="email" />
       {{#if errors.email}}
        <div class="invalid-feedback">
          {{errors.email}}
        </div>
      {{/if}}
    </div>
    <div class="mb-3">
      <label for="password">Password</label>
      <input name="password" value="{{newArtist.password}}" type="password" class="form-control {{#if errors.password}}is-invalid{{/if}}" id="password" />
      {{#if errors.password}}
        <div class="invalid-feedback">
          {{errors.password}}
        </div>
      {{/if}}
    </div>
    <button type="submit" class="btn btn-warning">Login</button>
  </form>
  <a href="/register" class="text-decoration-none login-register-text">Don't have an account yet? Sign Up here for free</a>
</div>