{{> header}}
<div class="register-body body-profile">
  {{#if errors}}
  <div class="alert alert-danger">
    review form data
  </div>
  {{/if}}

  <form action="/artists/{{currentArtist._id}}" method="post" enctype="multipart/form-data" class="profile-form" style="  margin-bottom: 70px;">
    <div class="container">
      <div class="row">
        <div class="col">
          {{!-- COLUMN 1 --}}
          <div class="mb-3">
            <label for="name" class="form-label">Name</label>
            <input name="name" value="{{currentArtist.name}}" type="text"
              class="form-control {{#if errors.name}}is-invalid{{/if}}" id="name" />
            {{#if errors.name}}
            <div class="invalid-feedback">
              {{errors.name}}
            </div>
            {{/if}}
          </div>
          <div class="mb-3">
            <label for="email" class="form-label">Email address</label>
            <input name="email" value="{{currentArtist.email}}" type="email"
              class="form-control {{#if errors.email}}is-invalid{{/if}}" id="email" />
            {{#if errors.email}}
            <div class="invalid-feedback">
              {{errors.email}}
            </div>
            {{/if}}
          </div>
          <div class="mb-3">
            <label for="descriptionTextarea" class="form-label">Description</label>
            <textarea name="description" class="form-control" style="max-height: 150px; min-height: 61px;" placeholder=""
              id="descriptionTextarea">{{currentArtist.description}}</textarea>
          </div>
          <hr>
        </div>
        <div class="col">
          {{!-- COLUMN 2 --}}
          <label class="form-label">Social media</label>
          <div class="input-group mb-3">
            <span class="input-group-text facebook" id="basic-addon1">
              <i class="fa fa-facebook-official social-icon fa-fw" aria-hidden="true"></i>
            </span>
            <input id="facebook" oninput="checkValue(this)" type="text" name="socialMedia[facebook]"
              value="{{currentArtist.socialMedia.facebook}}" class="form-control social">
          </div>
          <div class="input-group mb-3">
            <span class="input-group-text instagram" id="basic-addon1">
              <i class="fa fa-instagram social-icon fa-fw" aria-hidden="true"></i>
            </span>
            <input id="instagram" oninput="checkValue(this)" type="text" name="socialMedia[instagram]"
              value="{{currentArtist.socialMedia.instagram}}" class="form-control social">
          </div>
          <div class="input-group mb-3">
            <span class="input-group-text email" id="basic-addon1">
              <i class="fa fa-envelope-o social-icon fa-fw" aria-hidden="true"></i>
            </span>
            <input id="email" oninput="checkValue(this)" type="text" name="socialMedia[email]" value="{{currentArtist.socialMedia.email}}"
              class="form-control social">
          </div>
          <div class="input-group mb-3">
            <span class="input-group-text twitter" id="basic-addon1">
              <i class="fa fa-twitter-square social-icon fa-fw" aria-hidden="true"></i>
            </span>
            <input id="twitter" oninput="checkValue(this)" type="text" name="socialMedia[twitter]"
              value="{{currentArtist.socialMedia.twitter}}" class="form-control social">
          </div>
          <div class="input-group mb-3">
            <span class="input-group-text spotify" id="basic-addon1">
              <i class="fa fa-spotify social-icon fa-fw" aria-hidden="true"></i>
            </span>
            <input id="spotify" oninput="checkValue(this)" type="text" name="socialMedia[spotify]"
              value="{{currentArtist.socialMedia.spotify}}" class="form-control social">
          </div>
          <hr>
        </div>
        <div class="col">
          {{!-- COLUMN 3 --}}
          <label class="form-label">Otros</label>
          <div style="height: 100%; display: flex; flex-direction: column; justify-content: flex-start;">
            <div class="btn-group mb-3" role="group" aria-label="Basic checkbox toggle button group">
              <input type="checkbox" class="btn-check" id="btncheck1" autocomplete="off" value="true" {{#checkStatus
                currentArtist.findGroup}}checked{{/checkStatus}} name="findGroup">
              <label class="btn btn-outline-info" for="btncheck1">Looking for group</label>
              
              <input type="checkbox" class="btn-check" id="btncheck2" autocomplete="off" value="true" {{#checkStatus
                currentArtist.forActing}}checked{{/checkStatus}} name="forActing">
              <label class="btn btn-outline-info" for="btncheck2">Available</label>
            </div>
            {{!-- <ul class="list-group list-group-horizontal mb-3">
              <li class="list-group-item form-checkbox ">
                <input class="form-check-input me-1" type="checkbox" name="findGroup" value="true" id="findGroup"
                  {{#checkStatus currentArtist.findGroup}}checked{{/checkStatus}}>
                <label class="form-check-label stretched-link" for="findGroup">Looking for group</label>
              </li>
              <li class="list-group-item form-checkbox ">
                <input class="form-check-input me-1" type="checkbox" name="forActing" value="true" id="forActing"
                  {{#checkStatus currentArtist.forActing}}checked{{/checkStatus}}>
                <label class="form-check-label stretched-link" for="forActing">Available</label>
              </li>
            </ul> --}}
            <div class="input-group mb-3">
              <label class="input-group-text btn btn-warning" for="image">Upload Image</label>
              <input type="file" class="form-control" name="image" id="image">
            </div>
            {{!-- <div class="mb-3">
              <label for="password">Password</label>
              <input name="password" value="{{currentArtist.password}}" type="password"
                class="form-control {{#if errors.password}}is-invalid{{/if}}" id="password" />
              {{#if errors.password}}
              <div class="invalid-feedback">
                {{errors.password}}
              </div>
              {{/if}}
            </div> --}}
            <button type="submit" class="btn btn-primary mt-3">Update</button>
          </div>
          <hr>
        </div>
      </div>
    </div>
  </form>
</div>

<script>
  window.addEventListener("load", (event) => {
    const headerHeight = getComputedStyle(document.querySelector('.sticky-top')).height
    document.querySelector('.body-profile').style.height = `calc(100vh - ${headerHeight})`
    document.querySelector('.body-profile').style.minHeight = "auto";

    const socialInptus = [...document.getElementsByClassName('social')]
    socialInptus.forEach(input => {
      checkValue(input)
    })
  });

  function checkValue(el) {
    if (el.value.length) {
      document.getElementsByClassName(`${el.id}`)[0].classList.add('fill')
    } else {
      document.getElementsByClassName(`${el.id}`)[0].classList.remove('fill')
    }
  }
</script>